@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes hidden {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes lighten {
  to {
    background: rgba(147, 86, 220, 0.15);
  }
}

@keyframes brighten {
  to {
    background: rgba(255, 121, 218, 0.75);
  }
}

@keyframes brighten-text {
  to {
    color: #9356dc;
  }
}

@keyframes fade-in {
  from {
    fill: transparent;
  }
  to {
    fill: #9356dc;
    stroke: #9356dc;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  width: 600px;
  padding: 0px 0px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  background-color: #f2f2f2;
  z-index: 1;
}

.loader::after {
  content: "";
  width: 150px;
  height: 150px;
  border: 25px solid #99e2d0;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
}

.loader--hidden {
  opacity: 1;
  animation: hidden .65s ease-in-out forwards 1s;
}

.header__logo-container {
  width: 100%;
  height: 135px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 6px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.header__logo-container img {
  width: 350px;
  height: auto;
  padding-top: 35px;
}

.header__redirect {
  display: block;
  text-decoration: none;
  width: 5%;
  height: auto;
  padding-top: 45px;
  position: relative;
  right: 75px;
}

.header__redirect i {
  width: 50px;
  height: 50px;
  color: black;
  font-size: 34px;
}

#header__location-container {
  width: 100%;
  height: auto;
  background-color: #d3d3d3;
  padding: 5px 0;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
}

#header__location-container p {
  width: 40%;
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
  position: relative;
  right: 50px;
}

#location-icon {
  width: 13%;
  height: auto;
}

#location-icon i {
  font-size: 27px;
  width: 30px;
  height: 30px;
}

.header__preview {
  width: 100%;
  height: auto;
}

.header__preview img {
  width: 100%;
}

.container {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 75px;
  padding-top: 10px;
  background-color: #f2f2f2;
}

.container__title {
  width: 100%;
  font-size: 36px;
  font-family: "Roboto";
  padding-top: 5px;
  padding-bottom: 10px;
}

.container__title--alt {
  width: 80%;
  font-family: "Shrikhand";
  text-align: left;
  padding-left: 25px;
  font-size: 38px;
}

#booking__text {
  width: 90%;
  font-size: 27px;
  font-family: "Roboto";
  padding-left: 80px;
  padding-bottom: 10px;
}

.explore-btn {
  width: 50%;
  height: 80px;
  border-radius: 50px;
  border: 2px solid #ff79da;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 700;
  color: #ffff;
  background-color: #ff79da;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.explore-btn:hover {
  animation: brighten 0.5s linear forwards;
}

#how-it-works.container {
  text-align: left;
  margin-top: 25px;
  padding-left: 25px;
  padding-top: 5px;
  background-color: white;
}

.how-it-works__btn--grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 45px;
  padding-left: 20px;
}

.select-btn {
  width: 95%;
  height: 100px;
  border-radius: 32px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  padding-left: 35px;
  padding-top: 15px;
  display: inline-flex;
  align-items: baseline;
  gap: 0px;
}

.select-btn i {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: grey;
  position: relative;
  right: 28px;
}

.select-btn p {
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.select-btn:hover {
  animation: lighten 0.6s linear forwards;
}

.select-btn:hover i {
  animation: brighten-text 0.6s linear forwards;
}

.circle-icon {
  background-color: #9356dc;
  width: 38px;
  height: 34px;
  border-radius: 25px;
  align-self: center;
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  position: relative;
  right: 50px;
  top: -4px;
}

#restaurants.container {
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 145px;
}

.restaurants__grid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  padding-left: 10px;
}

.restaurants__card {
  width: 95%;
  height: 410px;
  background-color: white;
  border-radius: 25px;
  display: block;
  text-decoration: none;
}

.new-overlay {
  width: 95px;
  height: 35px;
  padding-top: 5px;
  background: #99e2d0;
  color: #808080;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  position: relative;
  bottom: 255px;
  left: 425px;
}

.card-header {
  width: 100%;
  height: 280px;
  padding: 0;
  margin: 0;
}

.card-header img {
  width: 538px;
  height: 279px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.card-footer i {
  width: 43px;
  height: 40px;
  font-size: 44px;
  color: grey;
  align-self: center;
  position: relative;
  top: -14px;
}

.heart-icon {
  fill: transparent;
  stroke: grey;
  stroke-width: 48px;
  width: 43px;
  height: 40px;
  align-self: center;
  position: relative;
  top: -11px;
}

svg {
  overflow: visible;
  width: 43px;
}

.heart-main:hover {
  animation: fade-in 0.3s linear forwards;
}

.card__description {
  width: 85%;
  padding-left: 20px;
}

.card__title {
  width: 100%;
  font-family: "Roboto";
  font-size: 29px;
  margin-bottom: 0;
  color: black;
}

.card__text {
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  color: grey;
  margin-top: 10px;
}

#restaurant__menu.container {
  border-radius: 70px 70px 0 0;
}

.restaurant__menu--header {
  width: 100%;
  display: inline-flex;
  gap: 25px;
}

.footer__container {
  width: 100%;
  height: 325px;
  padding-left: 35px;
  background-color: #282828;
  color: white;
  margin-top: -26px;
  padding-top: 20px;
}

.footer__container ul {
  width: 100%;
  font-family: "Roboto";
  font-size: 22px;
  list-style: none;
  line-height: 40px;
}

.footer__container i {
  width: 30px;
  height: 30px;
}

.footer__container a:link,
.footer__container a:visited,
.footer__container a:active,
.footer__container a:hover {
  text-decoration: none;
  color: white;
}

#footer__logo {
  font-family: "Shrikhand";
  font-size: 28px;
  width: 100%;
}
